* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

@keyframes open-menu {
    from {
        top:-30vh;
        opacity: 0;
    } to {
        top: 0;
        opacity: 1;
    }
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(Image/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-box {
    margin: 100px 0 0 120px;
}

.main-box h1 {
    margin: 20px 0;
}

.menu-btn {
    display: none;
}

.exit-btn {
    display: none;
}

.nav {
    position: fixed;
    z-index: 10;
    right: 0;
    background-color: #1D2A3D;
    font-size: 1.5rem;
    padding: 0 20px 0 50px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.nav-link {
    color: #EBFFFE;
}

.nav-link:hover {
    color: #45dbe0;
}

.showcase {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.showcase h2 {
    padding: 30px 0 30px 10%;
}

/* CSS for Index */

.project img {
    width: 80%;
    margin: 10%;
    border-radius: 15px;
}

.card-body {
    padding: 0 10% 5% 10%;
}

.card-text {
    text-align: justify;
    padding-top: 10px;
}

.show-box {
    margin-left: 10%;
    width: 80%;
}

.project {
    width: 25%;
}

.slick-arrow:before {
    color: #023333;
}

/* CSS for Portfolio */

.folio {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.folio h4 {
    text-align: center;
    padding-top: 20px;
}

.folio-container {
    max-width: 80%;
    justify-content: center;
}

.folio-container .card {
    margin: 10px;
}

.portfolio-box img {
    width: 80%;
    margin: 20px 10%;
}

.port-description {
    display: inline;
}

/* CSS for About us*/

.about-us {
    background: #d2d9e0;
    text-align: center;
    padding-bottom: 20px;
}

.about-us h2, .material h2 {
    padding: 30px 10%;
}

.introduce-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.introduce-box img {
    clip-path: circle(50%);
    width: calc(100px + 10vh);
    margin: 20px 80px;
}

.introduce-box h4 {
    padding: 10px;
}

.introduce-box ul li {
    text-align: left;
    padding-left: 5px;
}

.material {
    text-align: center;
}

.material-container {
    justify-content: center;
}

.material-box {
    margin: 10px;
}

.material-box img {
    width: 50%;
    margin: 20px 25%;
    border-radius: 20px;
}

/* CSS for Footer */

.footer {
    background: #e0f5f5;
    background-image: url(Image/Footer.jpg);
    background-blend-mode: darken;
    color: #092442;
    text-align: center;
    padding: 20px;
}

.footer h2 {
    margin-top: 10px;
}

.social-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.social-box div {
    margin: 20px 10px;
    font-size: 1.5rem;
}

.social-box img {
    width: 30px;
}

@media only screen and (max-width: 1024px) {
    .nav {
        position: fixed;
        font-size: 1.5rem;
        padding: 0 20px 0 20px;
        width: 100vw;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        justify-content: space-evenly;
    }

    .main-box {
        margin: 100px 0 0 80px;
    }

    /* CSS for Index */

    .showcase {
        min-height: 60vh;
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 450px) {
    .nav {
        display: none;
    }

    .menu-btn {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 10px;
        z-index: 10;
        background: #6ba2e0;
        clip-path: circle(50%);
        width: 40px;
        height: 40px;
    }

    .menu-btn img {
        width: 70%;
        margin: 15%;
    }

    .main-box {
        margin: 10px;
    }

    .main-box h1 {
        font-size: 20px;
    }

    .show-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 40%;
        right: 0;
        top: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding: 10px 0;
        background-color: #1D2A3Dee;
        animation: open-menu 0.3s;
    }

    .exit-btn {
        display: inline-block;
        color: red;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 30px;
    }

    .exit-btn:hover {
        cursor: pointer;
    }

    .nav li {
        width: 100%;
    }

}